html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-img{
  display: flex;
  width: 100%;
  background-color: rgba(49, 95, 211, 1);
  cursor: pointer;
}

.header > .nav{
  line-height: 6vh;
}

.header {
  height: 6vh;
}

.main {
    width: 100%;
    height: 88vh;
}

.left_container{
    width: 28%;
    height: 100%;
    background-color: white;
    float: left;
    border-right: 2px solid black;
    border-radius: 1px;
    display: block;
}

.right_container{
    width: 72%;
    height: 100%;
    background-color: white;
    float: right;
    display: block;
}

.search_container{
    width: 100%;
    height: 13%;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 2px;
}

.search_container>input{
    width: 70%;
    height: 50%;
    margin-top: 15px;
    border-radius: 20px;
    font-size: 17px;
}

.scroll_container{
    overflow-y: scroll;
    height: 73%;
    border-bottom: 2px solid black;
}
.group_row{
  display: table;
  width: 99%;
  height: 15%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  margin-left: 1px;
  margin-bottom: 2px;
  text-align: center;
  border-collapse: separate; 
}

.group_row p{
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  color: black;
}

.group_image_container{
    aspect-ratio: 1/1;
    height: 100%;
    background-color: blue;
    margin-right: 0px;
    float: left;
}


.create_group_button_container{
    height: 14%;
    background-color: aquamarine;
    text-align: center;
}

.crossbtn {
  float: right;
  display: none;
  border: none;
  background-color: white;
  margin: 1% 2% 0 0;
}

.crossbtn > i {
  color: rgba(49, 95, 211, 1);
  font-size: 35px;
}

.corssbtn > i:hover{
  color: rgb(151, 151, 151);
}

.btn_container {
  width: 100%;
  height: 12vh;
}

.btn_container > button {
  width: 10vw;
  height: 6vh;
  border: 1px solid black;
  background-color: rgb(39, 93, 219);
  color: white;
  font-size: 1.4vw;
  border-radius: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn_container > button:hover{
  color: rgb(151, 151, 151);
}

.buttondesign {
    width: 10vw;
    height: 6vh;
    float: right;
    border: 1px solid black;
    background-color: rgb(39, 93, 219);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    margin: 1.5% 3% 0 0;
    border-radius: 20px;
  }


#savechangesbutton {
    margin: 0;
  
}

.hamburger_menu {
  float: left;
  display: none;
  border: none;
  background-color: white;
  margin: 2.5% 0 0 2%;
}

.hamburger_menu > i {
  color: rgba(49, 95, 211, 1);
  font-size: 25px;
}

.hamburger_menu > i:hover{
  color: rgb(151, 151, 151);
}




  input:focus{
    border: 2px solid rgba(51, 98, 211, 1);
  }

  input{
    width: 90%;
    height: 70%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
  }

  .input_container{
    height: 15%;
  }
  
  .buttondesign:hover{
      color: rgb(151, 151, 151);
  }

  .timetable_header {
    height: 11.5%;
  }


/* timetable css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.timetable {
    margin-left: 0%;
    height: 85%;
    width: 96%;
    margin: auto;
}

#calendar {

}

.available {
  font-weight: 300;
  background: #3498db;
  border: solid;
  border-color: #34495e;
}




*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




  /* tbody {
    height: 56vh;
    overflow-y: scroll;
    display: block;
  } */
 
  /* thead {
    display: block;
  } */

/* .fc {
  height: 50%;
  width: 100%;
} */

/* .fc-timegrid-slot-label-cushion {
  float: left;
} */

#big_text {
  float: left;
  margin-left: 2%;
  margin-top: 2.5%;
  font-size: 250%;
}

#createGroupResponse {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 10%;
}





.selected {
    /* background-color: green; */
    border-color: blue;
    background-color: rgba(49, 95, 211, 1);

}
.selected > p {
  color: white;
}


.member-row {
  display: table;
  width: 99%;
  height: 30%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  margin-left: 1px;
  margin-bottom: 2px;
  text-align: center;
  border-collapse: separate; 
}
