.left_container{
    width: 28vw;
    height: 85vh;
    background-color: white;
    float: left;
    border: 2px solid black;
    border-radius: 1px;
}

.right_container{
    width: 72vw;
    height: 83vh;
    background-color: white;
    float: right;
}

.search_container{
    width: 100%;
    height: 13%;
    text-align: center;
    /* border: 2px solid black; */
}

.search_container>input{
    width: 70%;
    height: 50%;
    margin-top: 5%;
    /* border: 2px solid black; */
	border-radius: 5px;
	font-size: 17px;
}

.scroll_container{
    overflow-y: scroll;
    height: 73%;
}
.group_row{
    width: 99%;
    height: 15%;
    /* border-width: 2px; */
    border-color: black;
    border-style: solid;
    background-color: aqua;
}

.group_image_container{
    aspect-ratio: 1/1;
    height: 100%;
    background-color: blue;
    margin-right: 0px;
    float: left;
}

.group_name_container{
    height: 100px;
  line-height: 100px;
  text-align: center;
}

.create_group_button_container{
    height: 14%;
    background-color: aquamarine;
    text-align: center;
}

.buttondesign {
    border: 1px solid black;
    background-color: rgb(39, 93, 219);
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 30%;
    border-radius: 20px;
  }

  input:focus{
    border: 2px solid rgba(51, 98, 211, 1);
  }

  input{
    width: 90%;
    height: 40%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
  }

  .input_container{
    height: 15%;
  }
  
  .buttondesign:hover{
      color: rgb(151, 151, 151);
  }

  .timetable_header {
    height: 11.5%;
    /* background-color: #2ecc71; */
  }
  .timetable_footer {
    height: 11%;
    /* background-color: #2ecc71; */
  }



/* timetable css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

.timetable {
    margin-left: 0%;
    height: 77.5%;
    /* overflow-y: scroll; */
}
/* .blue {
  background: #3498db;
} */

/* .cs335, .cs426, .md303, .md352, .md313, .cs240 {
  font-weight: 300;
  cursor: pointer;
} */

.available {
  font-weight: 300;
  background: #3498db;
  border: solid;
  border-color: #34495e;
}



/* body {
  background: #e74c3c;
  padding: 20px;
} */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  font-family: 'Open Sans', Helvetica;
  color: #efefef;
}
table tr:nth-child(2n) {
  background: #eff0f1;
}
table tr:nth-child(2n+3) {
  background: #fff;
}
table th, table td {
  padding: 1em;
  width: 13em;
  height: 3em;
}
table th{
    padding: 1.5em;
}

.days, .time {
  background: #34495e;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: center;
}

/* .time {
  width: 3em !important;
} */


/* left and right button  */

.arrow_button_container {
    transform: rotate(90deg);
    height: 100%;
  }

.arrowbtn {
    /* position: absolute; */
   
    color: black;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }
  .arrowbtn:hover {
    background: white;
    border-color: white;
    color: white;
  }
  .arrowbtn:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
  }
  
  .arrowbtn-up {
    top: 20px;
  }
  .arrowbtn-up:after {
    margin-left: -12.5px;
    margin-top: -6.25px;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotateZ(45deg);
  }
  
  .arrowbtn-down {
    bottom: 20px;
  }
  .arrowbtn-down:after {
    margin-left: -12.5px;
    margin-top: -18.75px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotateZ(45deg);
  }

 


  tbody {
    height: 56vh;
    overflow-y: scroll;
    display: block;
  }
 
  thead {
    display: block;
  }



  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }

  .modal.active {
    transform: translate(-50%,-50%) scale(1);
  }


  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }


  .modal-body {
    padding: 10px 15px;
  }

  #overlay {
    position: fixed;
    opacity:0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }

  #overlay.active {
    pointer-events: all;
    opacity: 1;

  }