html{
	font-size: 62.5%;
}

html, body {
	overflow-y: hidden;
}

*{
	font-family: 'Overpass', sans-serif;
	text-decoration: none;
	border-collapse: collapse;
	margin:0;
	padding:0;
	/*color:#000; This messes with the timetable text color*/
}

.fc-event-time{ /*Changes the font size for the timetable*/
	font-size: 1.2rem !important;
}

.fc-event-title { /*Changes the font size for the timetable*/
	font-size: 1.2rem !important;
}

.header{
	display:flex;
	width:100%;
	height: 6vh;
	margin:auto auto auto auto;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(49, 95, 211, 1);
}

#btn{
	width: 15%;
	height: 100%;
	border: none;
	background-color: rgba(49, 95, 211, 1);
	margin: auto auto auto 3%;
}

.main-img{
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(49, 95, 211, 1);
	cursor: pointer;
}

.header > a{
	width: 18%;
	border: none;
	background-color: rgba(49, 95, 211, 1);
	margin: auto auto auto 3%;
	height: 100%;
}



.nav{
	display: flex;
	margin: auto 5% auto auto;
}

.nav > ul{
	list-style: none;
	display: flex;
	white-space: nowrap;
	line-height: 5vh;
	padding-right: 25%;
	background-color: rgba(49, 95, 211, 1);
}

.nav > ul > li > a{
	text-align: center;
	font-size:2rem;
	color: white;
	border: thin;
}

.nav > ul > li > a:hover{
	color: rgb(151, 151, 151);
}

.nav > button{
	border: none;
	background-color: rgba(49, 95, 211, 1);
}

.nav > button > i{
	color: white;
	font-size: 3rem;
	cursor: pointer;
	background-color: rgba(49, 95, 211, 1);
}

.nav > button > i:hover{
	color: rgb(151, 151, 151);
}

.hero{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../room.jpg");
	background-size: cover;
	background-position: center;
	width:100%;
	height: 60vh;
}

.hero > h2{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin:0 auto;
	border:thick;
	color:#FFF;
	font-size:5rem;
	text-align: center;
	cursor: default;
	white-space: nowrap;
}

.description{
	text-align: center;
	height: 10vh;
	white-space: normal;
	margin-right: 2%;
	margin-left: 2%;
}

.description > p{
	position: relative;
	top: 6vh;
	font-size: 2.5rem;
}

.bullets{
	width: 100%;
	height: 18vh;
}

.bullets > ul{
	display: flex;
	width: 100%;
	height: 9vh;
}

.one{
	line-height: 14vh;
}

.two{
	line-height: 3vh;
}

.bullets > ul > li{
	width: 20%;
	white-space: nowrap;
	margin-left: 20%;
}

.bullets > ul > li > a{
	border: thick;
	background-color: white;
	font-size: 2.3rem;
	cursor: default;
}

.footer{
	display:flex;
	width:100%;
	height:6vh;
	margin: auto auto auto auto;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(49, 95, 211, 1);
}

.footer > a{
	display: flex;
	border: none;
	font-size: 2.7rem;
	color: white;
	margin-left: 5%;
}

.footer > ul{
	list-style: none;
	display: flex;
	line-height: 5vh;
	margin-right: 7%;
	background-color: rgba(49, 95, 211, 1);
}

.footer > ul > li{
	padding-right: 7%;
	white-space: nowrap;
	height: 5vh;
	background-color: rgba(49, 95, 211, 1);
}

.footer > ul > li > a{
	font-size: 2rem;
	color: white;
}

.footer > ul > li > a:hover{
	color: rgb(151, 151, 151);
}

@media (orientation: portrait) and (max-width: 1500px) {
	.header > button{
		width: 22%;
		height: 6vh;
	}
	.nav{
		margin: auto 6% auto auto;
	}
	.nav > ul > li > a{
		font-size: 2.6rem;
	}
	.nav > button > i{
		font-size: 3.5rem;
	}
}

@media (orientation: portrait) and (max-width: 1279px) {
	.hero > h2{
		font-size: 4.5rem;
	}
	.description > p{
		font-size: 2.3rem;
	}
}

@media (orientation: portrait) and (max-width: 1023px) {
	#btn{
		width: 25%;
	}
	.nav{
		margin: auto 7% auto auto;
	}
	.hero > h2{
		font-size: 4rem;
	}
	.bullets > ul > li > a{
		font-size: 2rem;
	}
}

@media (orientation: portrait) and (max-width: 915px) {
	.nav > ul > li > a{
		font-size: 2rem;
	}
	.nav > button > i{
		font-size: 2.9rem;
	}
	.hero > h2{
		font-size: 3.7rem;
	}
	.description > p{
		font-size: 1.8rem;
	}
	.bullets > ul > li > a{
		font-size: 1.8rem;
	}
	.footer > ul > li > a{
		font-size: 1.6rem;
	}
	.footer > a{
		font-size: 2.5rem;
	}
}

@media (orientation: portrait) and (max-width: 767px) {
	#btn{
		width: 28%;
	}
	.nav > ul > li > a{
		font-size: 1.7rem;
	}
	.nav > button > i{
		font-size: 2.6rem;
	}
	.hero > h2{
		font-size: 3rem;
	}
	.description > p{
		font-size: 1.5rem;
	}
	.bullets > ul > li > a{
		font-size: 1.5rem;
	}
	.footer > ul > li > a{
		font-size: 1.4rem;
	}
	.footer > a{
		font-size: 2.3rem;
	}
}

@media (orientation: portrait) and (max-width: 541px) {
	.nav > ul > li > a{
		font-size: 1.4rem;
	}
	.nav > button > i{
		font-size: 2.3rem;
	}
	.hero > h2{
		font-size: 2.3rem;
	}
	.description > p{
		font-size: 1.2rem;
	}
	.bullets > ul > li > a{
		font-size: 1.1rem;
	}
	.footer > ul{
		margin-right: 8%;
	}
	.footer > ul > li > a{
		font-size: 1rem;
	}
	.footer > a{
		font-size: 1.8rem;
	}
}

@media (orientation: portrait) and (max-width: 415px) {
	#btn{
		width: 33%;
	}
	.nav{
		margin: auto 8% auto auto;
	}
	.nav > ul > li > a{
		font-size: 1rem;
	}
	.nav > button > i{
		font-size: 1.9rem;
	}
	.hero > h2{
		font-size: 1.7rem;
	}
	.description > p{
		font-size: 0.9rem;
	}
	.bullets > ul > li > a{
		font-size: 0.8rem;
	}
	.footer > ul > li > a{
		font-size: 0.8rem;
	}
	.footer > a{
		font-size: 1.5rem;
	}
}

@media (orientation: portrait) and (max-width: 281px) {
	.nav{
		margin: auto 9% auto auto;
	}
	.nav > ul > li > a{
		font-size: 0.9rem;
	}
	.nav > button > i{
		font-size: 1.7rem;
	}
	.hero > h2{
		font-size: 1.3rem;
	}
	.description > p{
		font-size: 0.8rem;
	}
	.bullets > ul > li > a{
		font-size: 0.6rem;
	}
	.footer > ul > li > a{
		font-size: 0.5rem;
	}
	.footer > a{
		font-size: 1.1rem;
	}
}

@media (orientation: landscape) and (min-width: 1440px) {
	#btn{
		width: 13%;
	}
}

@media (orientation: landscape) and (max-width: 1279px) {
	.nav > ul > li > a{
		font-size: 1.8rem;
	}
	.nav > button > i{
		font-size: 2.7rem;
	}
	.hero > h2{
		font-size: 4rem;
	}
	.description > p{
		font-size: 2rem;
	}
	.bullets > ul > li > a{
		font-size: 2rem;
	}
	.footer > ul > li > a{
		font-size: 1.6rem;
	}
	.footer > a{
		font-size: 2.5rem;
	}
}

@media (orientation: landscape) and (max-width: 1023px) {
	.nav > ul > li > a{
		font-size: 1.6rem;
	}
	.nav > button > i{
		font-size: 2.5rem;
	}
	.hero > h2{
		font-size: 3.5rem;
	}
	.description > p{
		font-size: 1.8rem;
	}
	.bullets > ul > li > a{
		font-size: 1.7rem;
	}
	.footer > ul > li > a{
		font-size: 1.4rem;
	}
	.footer > a{
		font-size: 2rem;
	}
}

@media (orientation: landscape) and (max-width: 819px) {
	.nav > ul > li > a{
		font-size: 1.3rem;
	}
	.nav > button > i{
		font-size: 2.2rem;
	}
	.hero > h2{
		font-size: 3rem;
	}
	.description > p{
		font-size: 1.5rem;
	}
	.bullets > ul > li > a{
		font-size: 1.4rem;
	}
	.footer > ul > li > a{
		font-size: 1.2rem;
	}
	.footer > a{
		font-size: 1.7rem;
	}
}

@media (orientation: landscape) and (max-width: 767px) {
	.nav > ul > li > a{
		font-size: 1.1rem;
	}
	.nav > button > i{
		font-size: 1.9rem;
	}
	.hero > h2{
		font-size: 2.5rem;
	}
	.description > p{
		font-size: 1.3rem;
	}
	.bullets > ul > li > a{
		font-size: 1.2rem;
	}
	.footer > ul > li > a{
		font-size: 1rem;
	}
	.footer > a{
		font-size: 1.3rem;
	}
}

@media (orientation: landscape) and (max-width: 654px) {
	.nav > ul > li > a{
		font-size: 1rem;
	}
	.nav > button > i{
		font-size: 1.6rem;
	}
	.hero > h2{
		font-size: 2rem;
	}
	.description > p{
		font-size: 1rem;
	}
	.bullets > ul > li > a{
		font-size: 1rem;
	}
	.footer > ul > li > a{
		font-size: 0.8rem;
	}
	.footer > a{
		font-size: 1rem;
	}
}

.error {
	font-size: 15px;
    text-align: center;
    color: red;
}