html{
	font-size: 62.5%;
}

body{
	width: 100%;
	height: 100vh;
	background: radial-gradient(#5297ed, #285edb);
	font-family: 'Overpass', sans-serif;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0;
}

.header > button{
	border: none;
	background-color: transparent;
	width: 12%;
	height: 8vh;
	position: absolute;
	left: 44%;
	top: 7vh;
}

.header > button > img{
	display: flex;
	width: 100%;
	cursor: pointer;
}

.wrapper{
	background-color: white;
	border-radius: 3%;
	width: 50%;
	height: 70%;
	position: absolute;
	left: 25%;
	top: 14vh;
}

.login_box{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login_box > h1{
	border:	thick;
	font-size: 3rem;
	text-align: center;
	cursor: default;
	margin-bottom: 20%;
}

.login_box > form > div{
	display: flex;
	position: relative;
	left: 10%;
	width: 80%;
	height: 7vh;
}

.login_box > form > div > input{
	width: 100%;
	height: 60%;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 1.7rem;
	text-align: center;
}

input:focus{
	border: 3px rgba(51, 98, 211, 1);
}

::placeholder{
	opacity: 0.6;
}

.login_box > form > .error{
	margin-top: 0%;
	text-align: center;
	height: 3vh;
}

.login_box > form > .error > p{
    display: inline-block; /* or display: block; */
    margin: auto;
    white-space: nowrap;
    font-size: 1.6rem;
}

.login_box > form > .register{
	margin-top: 15%;
	position: relative;
	left: 25%;
	width: 50%;
	height: 5vh;
}

.login_box > form > .register > p{
	margin: auto 0.5% auto auto;
	white-space: nowrap;
	font-size: 1.6rem;
}

.login_box > form > .register > a{
	margin: auto auto auto 0.5%;
	color: black;
	border: thick;
	white-space: nowrap;
	font-size: 1.6rem;
}

.login_box > form > .final{
	width: 15%;
	position: relative;
	left: 42.5%;
}

.login_box > form > .final > input{
	width: 100%;
	border: 1px solid black;
	border-radius: 20px;
	font-size: 1.5rem;
	color: white;
	background-color: rgba(49, 96, 211, 1);
	cursor: pointer;
}

.login_box > form > .final > input:hover{
	color: rgb(151, 151, 151);
}

footer {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
footer a {
    float: right;
    display: block;
    color: rgb(151, 151, 151);
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
}
  
footer a:hover {
    background: #f1f1f1;
    color: black;
}

@media (orientation: portrait) and (max-width: 1500px) {
	.header > button{
		width: 20%;
		position: absolute;
		left: 40%;
		top: 17vh;
	}

	.wrapper{
		width: 70%;
		height: 50vh;
		position: absolute;
		left: 15%;
		top: 24vh;
	}
}

@media (orientation: portrait) and (max-width: 1279px) {
	.login_box > h1{
		font-size: 2.5rem;
	}
}

@media (orientation: portrait) and (max-width: 1023px) {
	.login_box > h1{
		font-size: 2.3rem;
	}

	.login_box > form > div > input{
		font-size: 1.4rem;
	}

	.login_box > form > .register > p{
		font-size: 1.2rem;
	}

	.login_box > form > .register > a{
		font-size: 1.2rem;
	}

	.login_box > form > .final > input{
		font-size: 1.2rem;
	}

	.login_box > form > div > input{
		height: 50%;
	}

	footer > a{
		font-size: 1.4rem;
	}
}

@media (orientation: portrait) and (max-width: 767px) {
	.login_box > h1{
		font-size: 2.1rem;
	}

	.login_box > form > div > input{
		font-size: 1.3rem;
	}

	.login_box > form > .register > p{
		font-size: 1.1rem;
	}

	.login_box > form > .register > a{
		font-size: 1.1rem;
	}

	.login_box > form > .final > input{
		font-size: 1.1rem;
	}

	footer > a{
		font-size: 1.2rem;
		padding: 1rem 1.1rem;
	}
}

@media (orientation: portrait) and (max-width: 541px) {
	.login_box > h1{
		font-size: 1.6rem;
	}

	.login_box > form > div > input{
		font-size: 1.1rem;
	}

	.login_box > form > .register > p{
		font-size: 1rem;
	}

	.login_box > form > .register > a{
		font-size: 1rem;
	}

	.login_box > form > .final > input{
		font-size: 1rem;
	}

	footer > a{
		font-size: 1rem;
		padding: 0.9rem 1rem;
	}
}

@media (orientation: portrait) and (max-width: 415px) {
	.header > button{
		width: 35%;
		position: absolute;
		left: 32.5%;
	}

	.wrapper{
		height: 55vh;
		width: 90%;
		position: absolute;
		left: 5%;
	}

	.login_box > form > .final > input{
		font-size: 0.8rem;
	}

	footer > a{
		font-size: 0.9rem;
		padding: 0.8rem 0.9rem;
	}
}

@media (orientation: portrait) and (max-width: 281px) {
	.login_box > h1{
		font-size: 1.5rem;
	}

	.login_box > form > div > input{
		font-size: 1rem;
	}

	.login_box > form > .register > p{
		font-size: 0.8rem;
	}

	.login_box > form > .register > a{
		font-size: 0.8rem;
	}

	.login_box > form > .final > input{
		font-size: 0.7rem;
	}

	footer > a{
		font-size: 0.8rem;
		padding: 0.7rem 0.8rem;
	}
}

@media (orientation: landscape) and (max-width: 1279px) {
	.login_box > h1{
		font-size: 2.5rem;
	}

	.login_box > form > div > input{
		font-size: 1.5rem;
	}

	.login_box > form > .register > p{
		font-size: 1.3rem;
	}

	.login_box > form > .register > a{
		font-size: 1.3rem;
	}

	.login_box > form > .final > input{
		font-size: 1.3rem;
	}	

	footer > a{
		font-size: 1.3rem;
		padding: 1rem 1.1rem;
	}
}

@media (orientation: landscape) and (max-width: 915px) {
	.login_box > h1{
		font-size: 2rem;
	}

	.login_box > form > div > input{
		font-size: 1.3rem;
	}

	.login_box > form > .register > p{
		font-size: 1.1rem;
	}

	.login_box > form > .register > a{
		font-size: 1.1rem;
	}

	.login_box > form > .final > input{
		font-size: 1.1rem;
	}

	footer > a{
		font-size: 1.1rem;
	}
}

@media (orientation: landscape) and (max-width: 767px) {
	.login_box > h1{
		font-size: 1.7rem;
	}

	.login_box > form > div > input{
		font-size: 1.1rem;
	}

	.login_box > form > .register > p{
		font-size: 1rem;
	}

	.login_box > form > .register > a{
		font-size: 1rem;
	}

	.login_box > form > .final > input{
		font-size: 1rem;
	}

	footer > a{
		font-size: 1rem;
		padding: 0.9rem 1rem;
	}
}

@media (orientation: landscape) and (max-width: 654px) {
	.login_box > h1{
		font-size: 1.5rem;
	}

	.login_box > form > div > input{
		font-size: 1rem;
	}

	.login_box > form > .register > p{
		font-size: 0.9rem;
	}

	.login_box > form > .register > a{
		font-size: 0.9rem;
	}

	.login_box > form > .final > input{
		font-size: 0.9rem;
	}

	footer > a{
		font-size: 0.8rem;
		padding: 0.8rem 0.9rem;
	}
}