body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#5297ed, #285edb);
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: rgb(151, 151, 151);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    float: center;
  }
  
  .What{
      text-align: center;
      color: azure;
  }
  .Time{
      text-align: center;
      color: rgb(204, 204, 204);
  }
  
  .What, .Time{
      display: inline;
  }
  
  .modal {
      background: rgb(255, 255, 255);
      height: 500px;
      width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 30px;
      text-align: center;
      padding: 80px 80px;
      }
  
  

      .ddd {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* margin-top: 5%;
      margin-bottom: 5%; */
  }

  .inputbox{
    background-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-inline input {
    vertical-align: middle;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5%;
    width: 90%;
    text-align: center;
  }
  .button {
    border: 1px solid black;
    color: black;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
  }
  
  .button:hover{
      color: rgb(151, 151, 151);
  }

  .div {
    display: inline-block;
  }

  .firstline {
    color: rgb(77, 130, 193); 
    font-size: larger; 
    font-weight: 650; 
    text-align: center;
  }

  .uploadcalendar {
    color: black; 
    font-size: larger; 
    font-weight: 500; 
    padding-top: 40px; 
    padding-left: 40px; 
    padding-right: 40px; 
    text-align: center; 
    padding-bottom: 20px;
  }

  .moreinfo {
    color: black; 
    font-size: larger; 
    font-weight: 500; 
    padding-top: 20px; 
    padding-left: 40px; 
    padding-right: 40px; 
    text-align: center;
  }