body {
    width: 100%;
    height: 100vh;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(#5297ed, #285edb);
    overflow: scroll;
  }
  
  footer {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    float: right;
    display: block;
    color: rgb(151, 151, 151);
    text-align: center;
    text-decoration: none;
    font-size: medium;
    padding: 1% 1%;
  }
  
  footer a:hover {
    background: #f1f1f1;
    color: black;
  } 
  
  .header > button {
    border: none;
    background-color: transparent;
    width: 12%;
    height: 8vh;
    position: absolute;
    left: 44%;
    top: 7vh;
  }


  .header > button > img{
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  .wrapper {
    background-color: white;
    border-radius: 3%;
    width: 50%;
    height: 70vh;
    position: absolute;
    left: 25%;
    top: 14vh;
  }

  .modal {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }


  .inputbox{
    background-color: white;
  }

  .linkcontainer {
    display: flex;
    position: relative;
    left: 10%;
    width: 80%;
    margin-bottom: 8vh;
  }

  .inputbox input {
    width: 100%;
    height: 60%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
  }

  input:focus{
    border: 3px rgba(51, 98, 211, 1);
  }

  ::placeholder{
    opacity: 0.6;
  }

  .buttonbox {
    width: 20%;
    position: relative;
    left: 40%;
  }

  .buttondesign {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: small;
    color: white;
    background-color: rgba(49, 96, 211, 1);
    cursor: pointer;
    text-align: center;
  }
  
  .buttondesign:hover{
      color: rgb(151, 151, 151);
  }

  .firstline {
    margin-bottom: 8vh;
  }

  .firstline p{
    color: rgb(77, 130, 193); 
    font-size: large; 
    font-weight: 650; 
    text-align: center;
  }

  .uploadcalendar {
    width: 80%;
    color: black; 
    font-size: large; 
    font-weight: 500; 
    text-align: center;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
  }

  .moreinfo {
    width: 80%;
    color: black; 
    font-size: large; 
    font-weight: 500; 
    align-items: center;
    margin-bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
  }

  .moreinfo p{
    text-align: center;
  }

  .moreinfo a{
    color: black; 
    font-size:large; 
    font-weight: 500; 
    display: inline-block;
    font-style: normal;
    text-decoration: none;
  }

@media (orientation: portrait) and (max-width: 1500px) {
  .header > button{
    width: 20%;
    position: absolute;
    left: 40%;
    top: 12vh;
  }

  .wrapper{
    width: 70%;
    height: 60vh;
    position: absolute;
    left: 15%;
    top: 19vh;
  }
}

@media (orientation: portrait) and (max-width: 415px) {
  .header > button{
    width: 35%;
    position: absolute;
    left: 32.5%;
  }

  .wrapper{
    height: 55vh;
    width: 90%;
    position: absolute;
    left: 5%;
  }
}